In [ ]:
import numpy as np
from scipy import stats

# Sample data (random numbers)
np.random.seed(42)  # for reproducibility
sample_data = np.random.normal(loc=10, scale=2, size=30)  # sample of 30 observations from a normal distribution with mean 10 and standard deviation 2

# Population parameters
population_mean = 10  # hypothesized population mean

# Perform one-sample t-test
t_statistic, p_value = stats.ttest_1samp(sample_data, population_mean)

# Interpret the results
alpha = 0.05  # significance level
print("t-statistic:", t_statistic)
print("p-value:", p_value)

if p_value < alpha:
    print("Reject the null hypothesis. There is enough evidence to suggest that the sample mean differs significantly from the population mean.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to suggest that the sample mean differs significantly from the population mean.")

t-statistic: -1.1450173670383255
p-value: 0.2615641461880169
Fail to reject the null hypothesis. There is not enough evidence to suggest that the sample mean differs significantly from the population mean.

In [ ]:
#generate sample data
import numpy as np
import pandas as pd
np.random.seed(0)
data = pd.DataFrame({
    'Treatment': np.random.choice(['A','B','C'],size=100),
    'Score':np.random.normal(loc=10,scale=2,size=100)
})
print(data)

   Treatment      Score
0          A   8.626821
1          B  10.029747
2          A   9.248668
3          B   9.923553
4          B  10.735949
..       ...        ...
95         A   9.933528
96         C  10.131283
97         A  10.531571
98         B  12.303684
99         C  10.276086

[100 rows x 2 columns]

In [ ]:
#Caluculate mean score for each treatment group
mean_score_per_group = data.groupby('Treatment')['Score'].mean()
print(mean_score_per_group)

Treatment
A     9.611241
B    10.099304
C    10.010667
Name: Score, dtype: float64

In [ ]:
#Hypothesis Testing (t-test)
from scipy import stats
group_A = data[data['Treatment'] == 'A']['Score']
group_B = data[data['Treatment'] == 'B']['Score']
t_stat,p_value = stats.ttest_ind(group_A,group_B)
print("t-statistic:",t_stat)
print("p-value:",p_value)

t-statistic: -1.0341676575352792
p-value: 0.3045674995802033

In [ ]:
#ANOVA(One-way ANOVA)
f_stat,p_value = stats.f_oneway(data[data['Treatment'] == 'A']['Score'],
                                data[data['Treatment'] == 'B']['Score'],
                                data[data['Treatment'] == 'C']['Score'])
print("F_statistic:",f_stat)
print("p_value:",p_value)

F_statistic: 0.6019178068930898
p_value: 0.5497930622874936

In [ ]:
import numpy as np
#generate a large volume of random data(e.g. 1 million data points)
volume_data = np.random.rand(1000000)
print("volume of data:",len(volume_data))

volume of data: 1000000

In [ ]:
import time
#simulate streaming data every second for 10 seconds
for i in range(10):
  velocity_data = np.random.rand() #generate random data
  print("velocity data point:",velocity_data)
  time.sleep(1) #wait for 1 second to simulate real -time data stream

velocity data point: 0.7360820983603994
velocity data point: 0.5100656741554513
velocity data point: 0.378360992192321
velocity data point: 0.8348708592851474
velocity data point: 0.15089889748332808
velocity data point: 0.2819767324799012
velocity data point: 0.9131948121695814
velocity data point: 0.4721365776862432
velocity data point: 0.2986236864286739
velocity data point: 0.7822489993388714

In [ ]:
#structured data
structured_data = {'id':1,'name':'john','age':30}
print(structured_data)
#semi-structured data(JSON)
semi_structured_data = {'name':'Alice','age':25,'city':'New york'}
#unstructured data(text)
unstructured_data = 'this is a sample text document.it can contain any'

{'id': 1, 'name': 'john', 'age': 30}

In [ ]:
import random
#generate some random data with noise
veracity_data = [random.choice([1,2,3,None]) for _ in range(20)]
print("veracity data:",veracity_data)

veracity data: [3, 3, 3, 3, 2, 1, 1, None, 3, 1, 3, 1, None, None, 2, 2, 3, None, 1, 1]